<div class="navbar ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link "> <i class="f7-icons icon-header-arrow-back"></i></a>
        </div>
        <div class="center sliding">{{@global.LANGUAGE.COM_MSG55}}</div>
        <div class="right sliding">
            <a href="#" class="link settingsButton"><i class="f7-icons icon-other-menu-geofence"></i></a>
        </div>
       
    </div>
</div>

<div class="pages">
    <div class="page no-swipeback bg-color-page track_all_page" data-page="asset.track.all">
        <div class="page-content">

        	<div class="position_map "> 
               <div class="map" id="map"></div>
        	</div>
            
        </div>	
    </div>
</div>