<div class="page no-swipeback bg-color-page track_all_page" data-page="asset.track.all">
	<div class="navbar color-black ">
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="back link color-black"> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.COM_MSG55}}</div>
           	<div class="right">
           		<!-- <a href="#" class="link refreshTrack"><i class="f7-icons icon-header-track"></i></a> -->
                <a href="#" class="link settingsButton"><i class="f7-icons icon-other-menu-geofence"></i></a>
                
           	</div>
        </div>
    </div>

    <div class="page-content">

    	<div class="position_map "> 
            <!-- <div class="float_button_wrapper pano_button_wrapper bg-blue">
                <a href="#" class="link color-white pano_button" data-lat="{{Lat}}" data-lng="{{Lng}}" >
                    <i class="pano_preview_img"></i>                                   
                </a>
            </div>
            <div class="float_button_wrapper gprs_button_wrapper bg-color-page">
                <a href="#" class="link color-white sendPing">
                    <i class="f7-icons icon-header-track color-white"></i>
                    <span>{{@global.LANGUAGE.ASSET_TRACK_MSG15}}</span>                    
                </a>
            </div>
            <div class="float_button_wrapper route_button_wrapper bg-color-page">
                <a href="#" class="link color-white routeButton" data-lat="{{Lat}}" data-lng="{{Lng}}" >
                    <i class="f7-icons icon-other-route color-white"></i>
                    <span>{{@global.LANGUAGE.ASSET_TRACK_MSG16}}</span>                    
                </a>
            </div> -->

            <!-- <div class="float_button_wrapper settings_button_wrapper bg-color-page">
                <a href="#" class="link color-white settingsButton" data-lat="{{Lat}}" data-lng="{{Lng}}" >
                    <i class="f7-icons icon-settings color-white"></i>
                    <span>{{@global.LANGUAGE.COM_MSG56}}</span>                    
                </a>
            </div> -->

            <div class="map" id="map"></div>
    	</div>
        
    </div>
	
</div>