<div class="page bg-color-page geofence_view_page" data-page="geofence.view">
    <input type="hidden" name="geofenceEdit" value="{{Edit}}">
	<div class="navbar color-black ">
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="back link color-black"> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title">{{GeofenceName}}</div>

        </div>
    </div>
   <div class="page-content">
       <div class="position_map">

            <div class="map" id="map"></div>
        </div>


   </div>
  
</div>

