<div class="navbar ">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back"> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="center sliding">{{@global.LANGUAGE.COM_MSG44}}</div>
            <div class="right sliding">
                
            </div>
            
         
        </div>
    </div>
<div class="pages">
    <div class="page bg-color-page" data-page="report.theft.msg"> 
        <div class="page-content">

        	<div class="content-block">
                <p class="color-white">{{@global.LANGUAGE.PROMPT_MSG054}}</p>
                <p class="color-white">{{@global.LANGUAGE.PROMPT_MSG055}}</p>
                <p class="color-white">{{@global.LANGUAGE.PROMPT_MSG056}}</p>
                <p class="color-white">{{@global.LANGUAGE.PROMPT_MSG057}}</p>
            </div>        	

            <div class="content-block">
                <a href="#" class="button button-fill back reportTheft bg-dealer">{{@global.LANGUAGE.COM_MSG45}}</a>
            </div>

        </div>
    </div>
</div>