<div class="page bg-color-page reports_page" data-page="reports">
	<div class="navbar color-black">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only open-panel color-black"> <i class="f7-icons icon-header-menu"></i></a>
            </div>
            <div class="left navbar_title">{{@global.LANGUAGE.MENU_MSG09}}</div>     
            <!-- <div class="right">
                    <a href="#" class="link deleteAllNotifications" ><i class="f7-icons icon-header-delete"></i></a>
                </div>    -->    
        </div>
    </div>
	<div class="page-content " >

        <div class="content-block-title color-white">{{@global.LANGUAGE.MENU_MSG09}}</div>
        <div class="content-block content-block-text color-gray">
            {{@global.LANGUAGE.PROMPT_MSG058}}
        </div> 
        
        <div class="list-block layout-dark reportsList">
            <ul>
                <li>
                    <a href="#" class="item-link item-content" data-type="2">
                        <div class="item-media"></div>
                        <div class="item-inner">
                            <div class="item-title color-white">{{@global.LANGUAGE.REPORTS_MSG_01}}</div>                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content" data-type="1">
                        <div class="item-media"></div>
                        <div class="item-inner">
                            <div class="item-title color-white">{{@global.LANGUAGE.REPORTS_MSG_02}}</div>                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content" data-type="4">
                        <div class="item-media"></div>
                        <div class="item-inner">
                            <div class="item-title color-white">{{@global.LANGUAGE.REPORTS_MSG_03}}</div>                            
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        
        
    </div>
</div>

