<div class="navbar ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link "> <i class="f7-icons icon-header-arrow-back"></i></a>
        </div>
        <div class="center sliding">{{@global.LANGUAGE.REPORTS_MSG_01}}</div>
        <div class="right sliding">
            <a href="#" class="link save"><i class="f7-icons">check</i></a>
        </div>
    </div>
</div>    

<div class="pages">
    <div class="page bg-color-page reports_page" data-page="reports">
        <div class="page-content">
           <!--  <div class="content-block-title ">{{@global.LANGUAGE.REPORTS_MSG_04}}</div>     -->
            <div class="list-block reportPreverences layout-dark list-block-input " >          
                <ul>         
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label ">{{@global.LANGUAGE.REPORTS_MSG_04}}</div>
                                <div class="item-input">
                                    <input type="email" placeholder="{{@global.LANGUAGE.REPORTS_MSG_04}}" name="Email" value="{{Email}}" maxlength="200">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="list-block-label">{{@global.LANGUAGE.REPORTS_MSG_30}}</div>
            </div>
            <div class="content-block-title ">{{@global.LANGUAGE.REPORTS_MSG_11}}</div>   
            <div class="list-block reportPreverences layout-dark list-block-input " >          
                <ul>                        
                    <li>                        
                        <a href="#" class="item-link smart-select " data-back-text=" " data-searchbar="true" data-searchbar-placeholder="{{@global.LANGUAGE.COM_MSG06}}">                            
                            <select name="assets"  multiple>                                
                                {{#each Assets}}             
                                    <option value="{{Id}}" data-imei="{{IMEI}}"  {{#if Selected}} selected {{/if}}>{{Name}}</option> 
                                {{/each}} 
                            </select>
                            <div class="item-content">
                                <div class="item-inner">                                    
                                    <div class="item-title label">{{@global.LANGUAGE.REPORTS_MSG_05}}</div>                                        
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">                           
                            <div class="item-inner">
                                <div class="item-title label">{{@global.LANGUAGE.REPORTS_MSG_07}}</div>
                                <div class="item-input">
                                    <input type="datetime-local" value="{{StartDateTime}}" >
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">                           
                            <div class="item-inner">
                                <div class="item-title label">{{@global.LANGUAGE.REPORTS_MSG_10}}</div>
                                <div class="item-input">
                                    <input type="datetime-local" value="{{EndDateTime}}" >
                                </div>
                            </div>
                        </div>
                    </li>
                   
                    <li>                        
                        <a href="#" class="item-link smart-select " data-back-text=" " data-searchbar="true" data-searchbar-placeholder="{{@global.LANGUAGE.COM_MSG06}}">                            
                            <select name="report-alarm" multiple>
                                <option value="1"  >{{@global.LANGUAGE.REPORTS_MSG_25}}</option>
                                <option value="2"  >{{@global.LANGUAGE.REPORTS_MSG_26}}</option>   
                                <option value="4"  >{{@global.LANGUAGE.REPORTS_MSG_27}}</option>
                                <option value="8"  >{{@global.LANGUAGE.REPORTS_MSG_28}}</option>   
                                <option value="16" >{{@global.LANGUAGE.REPORTS_MSG_29}}</option>                                           
                            </select>    
                            <div class="item-content">
                                <div class="item-inner">                                    
                                    <div class="item-title label">{{@global.LANGUAGE.REPORTS_MSG_13}}</div>                                        
                                </div>
                            </div>
                        </a>
                    </li>
                    
                </ul>
            </div>
            
                
            

        </div>
    </div>
</div>
